.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: smothScroll 1s forwards;
    background: var(--primaryClr);
    z-index: 999;
    box-shadow: var(--bs-box-shadow-sm) !important;
}

@keyframes smothScroll {
    0%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);
    }
}

.is-sticky .navbar .navbar-brand a,
.is-sticky .navbar .offcanvas-body a {
    color: var(--black) !important;
}

.is-sticky .toggle_btn {
    color: var(--primaryClr) !important;
}

.is-sticky .navbar .offcanvas-body a:hover  {
    color: var(--white) !important;
}

.is-sticky .navbar .offcanvas-body .inner-dropdown a:hover  {
    color: var(--primaryClr) !important;
}

header {
    position: absolute;
    top: 0;
    z-index: 999;
    padding: 12px 0px;
    width: 100%;
}

header .navbar .navbar-brand a {
    font-size: 22px;
    color:var(--white);
    line-height: 150%;
    font-family: var(--fontFamily);
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

header .navbar .offcanvas-body a {
    font-size: var(--bodyText);
    color:var(--white) !important;
    line-height: 150%;
    font-family: var(--fontFamily);
    font-weight: bold;
    text-transform: capitalize;
}

header .navbar .offcanvas-body .inner-dropdown a  {
    font-size: var(--bodyText);
    color:var(--black) !important;
    line-height: 150%;
    font-family: var(--fontFamily);
    font-weight: bold;
    text-transform: capitalize;
}

header .navbar .offcanvas-body a:hover {
    color:var(--primaryClr) !important;
}

header .is-sticky .navbar .offcanvas-body a:hover {
    color:var(--primaryClr) !important;
}

header .navbar .offcanvas-body .dropdown-menu {
    min-width: 12rem;
}

header .navbar .offcanvas-body .dropdown-menu > .dropdown-item {
    color:var(--black) !important;
}

header .navbar .offcanvas-body .dropdown-menu .dropdown-menu .dropdown-item{
    color: var(--black) !important;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0; /* prevents jump */
}

.dropdown-menu .dropdown {
  position: relative;
}

/* Position inner dropdown to the side */
.dropdown-menu .dropdown-menu {
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: 0;
  display: none;
}

/* Show inner dropdown on hover */
.dropdown-menu .dropdown:hover > .dropdown-menu {
  display: block;
}

header .dropdown-item:active {
    background-color: lightgray;
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-logo {
    padding: 0 0 0 0;
    width: 100%;
    max-height: 75px;
}


@media only screen and (max-width : 991px) {
    header .navbar .toggle_btn {
        font-size: var(--bodyText);
        color: var(--white);
        border: 2px solid var(--white);
        padding: 7px 10px;
    }

    .is-sticky .navbar .toggle_btn {
        color: var(--black) !important;
        border: 2px solid var(--primaryClr);
    }

    .offcanvas-header {
        border: 1px solid gainsboro;
    }

    .offcanvas-header .logo {
        font-size: 26px;
        color: var(--black) !important;
        font-family: var(--fontFamily1);
        font-weight: bold;
        text-decoration: none;
    }

    .offcanvas-body .nav-link {
        padding: 12px 0px;
        color: var(--black);
    }

    .offcanvas-body .nav-link:active {
        background-color: lightgray;
    }

    .offcanvas-body .dropdown-item {
        padding: 12px 10px;
        color: var(--black);
    }

    .offcanvas-body .dropdown-item:hover {
        color: var(--primaryClr) !important;
    }

    .offcanvas-body .dropdown-item:active {
    background-color: lightgray;
}
}

@media (min-width: 200px) {
    .login-button {
        display: inline-block !important;
    }
}